# Environment variables
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite3

# Uploads
uploads/

# Logs
*.log
all_team_code.txt
app/AI_model/.ipynb_checkpoints/
scripts/something
app/AI_model/recordings sample 10_second/
